[submodule "external/qml-box2d"]
	path = external/qml-box2d
	url = https://github.com/qml-box2d/qml-box2d
[submodule "external/qtquickcalendar"]
	path = external/qtquickcalendar
	url = git://code.qt.io/qt-extensions/qtquickcalendar.git
	branch = 5.15
